-# ----------------------------------------------------------------------------
-# app/views/notes/new.html.haml
-# ----------------------------------------------------------------------------
%div.row
  %div.col-xs-10.col-sm-10.col-md-10.col-lg-10
    %h1 Add New Note
    
%div.row
  %div.col-xs-10.col-sm-10.col-md-10.col-lg-10
    = render 'form'